[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"

[scripts]
crawler="python3 run.py"
